/* Ajustes gerais de layout */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; /* Fundo mais claro */
}

.container {
  max-width: 800px;
  margin-top: 30px;
}

.header h1 {
  font-size: 32px;
  font-weight: bold;
}

/* Estilos das listas */
ul {
  padding-left: 0;
  list-style: none;
}

.list-group-item {
  margin-bottom: 10px;
  background-color: #e9ecef;
}

.results h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Customização dos botões */
button {
  font-size: 16px;
  padding: 10px;
}
